*{
    margin: 0;
    padding: 0;
}
/*-----------HEADER KKAYETE--------------*/
.header{
    height: 80vh;
    background-image: url(./../img/FUNDO-KAYETE.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
}
.conjunto{
    display: flex;
}
.kayete{
    padding-top: 28vh;
    padding-left: 4vh;
}
.kayete h2{
    margin-left: 28vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
}
.logo-kayete-header{
    width: 65vh;
    justify-content: center;
    margin-left: 24vh;

}

.header-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 26vh;
    margin-top: 20vh;
}
.header-menu a{
    text-decoration: none;
    color: rgb(11, 11, 11);
    border: 2px solid rgb(167, 124, 168);
    border-radius: 10px;
    width: 280px;
    padding: 10px 0;
    margin: 15px 0;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    transition: 0.5s;
}
.header-menu a:hover{
    background-color: rgb(210, 125, 233);
    color: #131111;
}


